{{ partial "header.html" . }}

<div id="layout" class="pure-g">
  {{ partial "sidebar.html" . }}

  <div class="content pure-u-1 pure-u-md-3-4">
    <div>
      <!-- A wrapper for all the blog posts -->
      <div class="posts">
        {{ range first 20 .Site.RegularPages }}
          <article>
            <!-- this <div> includes the title summary -->
            <div>
                <div class="content-subhead" style="border-bottom:none">{{ dateFormat "2006-01-02 15:04:05" .Date }}</div>
                <div><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
                {{ .Summary }}
            </div>
            {{ if .Truncated }}
              <!-- This <div> includes a read more link, but only if the summary is truncated... -->
              <div>
                <a href="{{ .RelPermalink }}">Read More…</a>
              </div>
              <hr>
            {{ end }}
          </article>
          {{ end }}

        </div>
        {{ partial "pagination.html" . }}
        {{ partial "footer.html" . }}
        </div>
      </div>
    </div>

  {{ partial "analytics.html" . }}
</body>
</html>
